
body {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  border-top: none;
  border-bottom: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

div.back-image {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

div.gray-back  {
  background-repeat: no-repeat;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  width: 100%
  margin: auto;
}



.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation,
.social-button {
  list-style: none;
}

.main-navigation a {
  color: black;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:focus {
  color: #766357;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-gorgeous {
  width: 459px;
  margin: auto;
  margin-bottom: 21px;
}

.back-mask {
  margin: 0;
  border: 0;
  border-top: 58px solid transparent;
  border-image-source: url("../img/background-mask.svg");
  border-image-slice: 100 fill;
  border-image-repeat: stretch;
  border-bottom: 0;

}

.welcome-text {
  display: block;
  background-color: #ffffff;
  border: none;
}

.welcome-text h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 29px;
  text-align: center;
}

.welcome-text p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  text-align: center;
}

.hotel-search-prompt {
  background-color: #ffffff;
}

.hotel-search-prompt h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 36px;
  margin: 0;
}

.hotel-search-prompt p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  padding-bottom: 47px;
  margin: 0;
}

.search-form-toggle {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

button.search-form-toggle:hover {
  background-color: #604e43;
}

button.search-form-toggle:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.2);
}

.hotel-search {
  background-color: #ffffff;
}

.hotel-search fieldset {
  border: none;
}

.hotel-search input {
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
}

.hotel-search label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search .search-button {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
}

.hotel-search .search-button:hover {
  background-color: #669ec0;
}

.hotel-search .search-button:focus {
  background-color: #81b3d2;
}

.hotel-search .search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer a {
  color: black;
}

.footer-copyright {
  line-height: 26px;
}

/*
.inner {
  background-color: #f2f2f2;
}*/

.hotel-search-results li {
  border: 1px solid lightgrey;
  border-left: 0;
  border-right: 0;
  list-style: none;
}

.hotel-search-results li:not(:last-child) {
  border-bottom: 0;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  max-height: 27px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

a.button {
  background-color: #81b3d2;
  padding: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 17px;
  padding-right: 17px;
}

a.button:hover {
  background-color: #669ec0;
}

a.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

button.button {
  background-color: #766357;
  border: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
}

button.button:hover {
  background-color: #604e43;
}

button.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  background-color: #f2f2f2;
  color: #666666;
}

.visually-hidden {
  display: none;
}

/* стили сетки */

.main-header {
  max-width: 1200px;
  margin: auto;
}

.main-navigation {
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  height: 56px;
  display: flex;
  justify-content: space-around;
}

.main-navigation a:not(.main-header-logo) {
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.main-header .right-align {
  order: 2;
}

.main-header-logo {
  order: 1;
  padding: 0;
  margin: 0;
}

.search-form-toggle {
  display: block;
  padding: 0;
  width: 568px;
  height: 86px;
  margin: auto;
}

.hotel-search form {
  width: 458px;
  margin: auto;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  border: none;
  padding: 55px;

}

.hotel-search fieldset {
  margin: 0;
  padding: 0;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  height: 120px;
  align-items: center;
}

ul.social-button {
  padding: 0;
}

.hotel-search-results {
  margin: 0;
  padding: 0;
}



.hotel-search-results li {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 73px;
}

.hotel-photo {
  margin: 0;
  padding: 0;
  min-height: 90px;
  width: 135px;
  margin-right: 30px;
}

.hotel-info {
  margin: 0;
  padding: 0;
  width: 260px;
  min-height: 90px;
}

.hotel-rating {
  margin: 0;
  padding: 0;
  min-height: 90px;
  width: 120px;
  margin-left: auto;
}

.hotel-info h3,
.hotel-info p {
  margin: 0;
  padding: 0;
}
